// PRIMARY
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
// NEUTRAL
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

$border-radius: 10px;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: $very-light-gray;
    font-size: 15px;
}

.container {
    width: 65%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

/* ALL CARDS */
.card {
    padding: 40px;
}

h1 {
    text-transform: uppercase;
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 2.5rem;
    color: $very-light-gray;
}

p {
    line-height: 1.5;
}

p,
.btn {
    font-family: "Lexend Deca";
    font-weight: 400;        
    color: $transparent-white;
}

.btn {
    margin-top: 50px;
    background-color: $very-light-gray;
    padding: 15px 20px;
    font-size: 0.9rem;
    border-radius: 40px;
    border: 1px solid $very-light-gray;
    &:hover {
        cursor: pointer;
        color: $very-light-gray !important;
        background-color: inherit;
        border: 1px solid $very-light-gray;
    }
}

/* INDIVIDUAL CARDS */
@mixin theme($theme: DarkGray) {
    background-color: $theme;
    .btn {
        color: $theme;
    }
}

#sedans {
    @include theme($theme: $bright-orange);
    // top-left | top-right | bottom-right | bottom-left
    border-radius: $border-radius 0 0 $border-radius;   
}

#suvs {
    @include theme($theme: $dark-cyan);
}

#luxury {
    @include theme($theme: $very-dark-cyan);
    border-radius: 0 $border-radius $border-radius 0;
}

@media (max-width: 425px) {
    body {
        margin: 100px 0px;
    }
    .container {
        flex-direction: column;
    }
    #sedans {
        // top-left | top-right | bottom-right | bottom-left
        border-radius: $border-radius $border-radius 0 0; 
    }
    #luxury {
        border-radius: 0 0 $border-radius $border-radius; 
    }
    .btn {
        margin-top: 30px;
    }
}